<div class="pb-4 position-sticky w-75 searchbar">
  <%= form_with url: bathrooms_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control bg-white border-right-0",
      placeholder: "Search: 'music', 'bidet', 'hand dryer', etc."%>
    <%= submit_tag "Search", class: "btn btn-search" %>
  <% end %>
</div>
