.map-card-container {
  display: flex;
  margin-top: 32px;
  max-width: none;
}

.index-cards-container {
  display: flex;
  flex-direction: column;
  width: clamp(440px, 100%, 600px);
  flex-grow: 1;
}

.map-wrapper {
  position: sticky;
  width: 50%;
  height: 100vh;
  top: 65px;
  margin-right: 16px;
  padding-top: 30px;
}

#index-card {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 16px;
}

#bathrooms {
  padding: 10px;
}

#title {
  position: sticky;
  top: 65px;
  color: black;
  z-index: 100;
  width: 100%;
  height: 80.75px;
  margin: 0;
  background: #f4f4f4;
  z-index: 50;
}

@media (max-width: 768px) {
  .map-card-container {
    flex-direction: column;
  }

  .map-card-container > div {
    width: 100% !important;
  }

  .map-card-container .searchbar {
    width: clamp(300px ,100%, 370px) !important;
  }

  .card-trip-infos .card-text {
    display: none;
  }
}