<div class="container border mt-4 bg-white small">
  <%= simple_form_for([@bathroom, @booking], html: { class: "d-flex flex-column align-items-center mt-2" }) do |f|%>
    <strong>
      <%= f.input :start_date_time, wrapper_html: { class: 'd-flex flex-column align-items-center' }, as: :datetime, html5: true, input_html: { class: "bg-white" } %>
    </strong>
    <strong>
      <%= f.input :end_date_time, wrapper_html: { class: 'd-flex flex-column align-items-center' }, as: :datetime, html5: true, input_html: { class: "bg-white"  }%>
    </strong>
    <div class="col-lg-5 mb-3 d-flex justify-content-center"><%= f.button :submit %></div>
  <% end %>
</div>
