<%# Banner %>
<div id="landing-page-banner">
  <div id="banner-container">
    <h1 id="banner-title">Airpnp makes bathroom breaks easier</h1>
    <h4>Find the perfect bathroom, and take that break you were waiting for!</h4>
    <%= link_to 'Browse Bathrooms', bathrooms_path, class: 'btn' %>
  </div>
</div>

<%# How it works %>
<div id="landing-cards-container">
  <h2>How It Works</h2>
  <div id="landing-page-cards">
    <div class="landing-page-card">
      <h3>1</h3>
      <%= image_tag "search.svg", class: 'landing-icons' %>
      <h3>Browse Bathrooms</h3>
      <p>When nature calls, we have the answer</p>
    </div>
    <div class="landing-page-card">
      <h3>2</h3>
      <%= image_tag "choice.svg", class: 'landing-icons' %>
      <h3>Make a Request</h3>
      <p>Find a bathroom fit for the occasion</p>
    </div>
    <div class="landing-page-card">
      <h3>3</h3>
      <%= image_tag "Relieve.svg", class: 'landing-icons' %>
      <h3>Relieve yourself!</h3>
      <p>It's easy as that</p>
    </div>
  </div>
</div>
