.button {
  font-size: 16px;
  color: white;
  background-color: $primary;
  margin: 0 auto;
  text-decoration: none;
  transition: 0.5s;
}

.btn {
  border-radius: 8px;
  background-color: $primary;
  transition: all 0.5s;
  color: white;
  border: white;
  &:hover {
    background-color: $secondary;
    color: white;
  }
  &:focus {
    background-color: $secondary !important;
    border: none;
  }
  &:active {
    background-color: $secondary !important;
    border: none;
  }
  &.btn-search {
    border-radius: 0 8px 8px 0;
  }
}

.btn-med {
  width: 12em;
  align-self: center;
}

.btn-back {
  top: 16px;
  left: 16px;
}