.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.border {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.landing-page-card {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 20px;
  width: 300px;
  margin-left: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 300px;
  width: auto;
  border-radius: 15px;

  & > img {
    height: 75%;
    width: 100%;
    object-fit: cover;
  }

  & h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  & p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  & .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }  
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  text-decoration: none;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-right: 8px;
}

.delete-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10px;
}

.edit-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10px;
}

#bathroom-show-card {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#bathroom-image {
  width: 100%;
}

.my-bathrooms-card-container {
  position: relative;
}

.button.back {
  top: 36px;
  left: 36px;
}

a {
  text-decoration: none;
  color: black;
  transition: width 2s;

  &:hover {
    text-decoration: none;
    color: initial;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 16px;
  }
}

.card {
  margin: 0, auto;
}