.packet {
  flex: 1;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.packet h2 {
  background-color: #ECC2CC ;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
}
